<!DOCTYPE html>
<html lang="{{lang}}">
    {{> core/head}}
  <body class="{{body_class}}">
      {{> core/header}}
   <div class="about-template">
		<div class="wrapper">
			<h1 class="title">DAT<span>CODE</span>, INC.</h1>
			<p>Started in 2016, DATCODE is a collective of Black technologists residing all over the world. We're a community that is vibrant, inclusive, and just enjoys learning and making stuff. We love to share our knowledge with each other, comment on our shared experiences, and encourage each other to Do The Most with the skills we possess.</p>
			<p>Our mission is to provide a safe space for ourselves and people that are looking for community as they grow. We provide support for those just beginning in the tech space, or those that are still searching for their place in it. Our community is ever-expanding through initiatives looking to serve its members: collaborative projects on our <a href="https://www.github.com/gitdatcode">Github</a> have helped members get jobs; resources we share in our Slack group are collected to a database, and we make them <a href="https://resources.datcode.io">available publicly</a> for anyone to search; we provide a job board channel to share any leads we have come across; and our <a href="/blog">blog</a> is where we share our stories and how-tos on various topics.</p>
			<p>We want DATCODE to be the premier community for Black technologists across the galaxy, promoting a never-ending thirst for knowledge, boundless curiosity, and ethical future-making. <a href="/sign-up">Join</a> the Intergalactic Black Tech Collective, and grow with us!</p>
			<p>To contact, email us at <b>hello@datcode.io</b>.</p>
		</div>
   </div>
   {{> core/footer}}
   {{> core/foot}}
  </body>
</html>