<!DOCTYPE html>
<html lang="{{lang}}">
	{{core/head}}
	<body>
		<div class="wrapper">
			<h1>CODE OF CONDUCT</h1>
			<p>“The Community” in this document refers to the DatCode Community, found at http://www.datcode.io. “The Admin” refers to the administrators of the DatCode Community, which can be found in the Team Directory. (you must be a member to view the directory).</p>

			<p>The Community is dedicated to providing an inclusive, harassment-free experience for everyone. We do not tolerate harassment of participants in any form.</p>
			
			<p>This Code of Conduct applies to all The Community spaces, including public channels, private channels and direct messages (online and off), meetups, hackathons, conferences, social media, community standups, video conferences, podcasts, etc. Some of The Community spaces may have additional rules in place, which will be made available to participants. Participants are responsible for knowing and abiding by these rules.</p>

			<ul>Harrasment includes:
				<li>
			</div>
		{{core/foot}}
		{{core/footer}}
	</body>
</html>