<!DOCTYPE html>
<html lang="{{lang}}">
    {{> core/head}}

    <body class="{{body_class}}">
        {{> core/header}}
	    <div class="splash"></div>
        <div class="section who">
        	<div class="wrapper">
        		<h1>Who We Are</h1>
						<p>DATCODE is a vibrant, inclusive community of Black technologists<span id='asterisk'>*</span> sharing knowledge, meeting new people, and doing the most. Spread out all around the world, we come together with our whole selves and geek out.</p>
						<p><small><span id="asterisk">*</span>Everyone is welcome. The main requirement is loving Blackness.</small></p>
					</div>
				</div>
        <div class="section what">
        	<div class="wrapper">
						<h1>What We Do</h1>
						<p>From design to data science, we want to help those eager to learn find the area that piques their interest and get them creating. Here's what you can look forward to in our community.</p>
						<div class="features">
							<section class="feature">
								<div class="feature-title">
									<span class="feature-icon icon major flaticon-014-code"></span>
									<h3 class="feature-name">code</h3>
								</div>
								<div class="feature-desc">
									<p>With a community of developers new and old, you'll be able to find the help you need on your coding journey. Tons of learning resources are shared, too, giving you a plethora of options.</p>
								</div>
							</section>

							<section class="feature">
								<div class="feature-title">
									<span class="feature-icon icon major flaticon-025-pen-tool"></span>
									<h3 class="feature-name">design</h3>
								</div>
								<div class="feature-desc">
									<p>Well-designed products are important, and you’ll be able to get tips and how-tos from people who love to design tech.</p>
								</div>
							</section>
							<section class="feature">
								<div class="feature-title">
									<span class="feature-icon icon major flaticon-048-briefcase"></span>
									<h3 class="feature-name">jobs</h3>
								</div>
								<div class="feature-desc">
									<p>We all need money, and it’s probably why you’re here in the first place. Get leads on jobs from our job board, and get advice on how to nail that interview or further your tech career.</p>
								</div>
							</section>
							<section class="feature">
								<div class="feature-title">
									<span class="feature-icon icon major flaticon-008-brainstorming"></span>
									<h3 class="feature-name">projects</h3>
								</div>
								<div class="feature-desc">
									<p>One of the most important things is doing your reps. Practice your skills on the various community projects we have going, and get meaningful experience for your career path in tech.</p>
								</div>
							</section>
							<section class="feature">
								<div class="feature-title">
									<span class="feature-icon icon major flaticon-010-discussion"></span>
									<h3 class="feature-name">stories</h3>
								</div>
								<div class="feature-desc">
									<p>Hearing different points of view from people of all walks of life is invaluable to our growth. Good thing we like talking a lot in our Slack group!</p>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="section join">
					<div class="wrapper">
						<h1>Welcome to the Intergalactic Black Tech Collective</h1>
						<p>You'll come for the knowledge, but stay for the culture.<br>
						Sign up to join!</p>
						<a class="sign-up" href="/sign-up">Sign Up!</a>
					</div>
				</div>
        {{> core/footer}}
        {{> core/foot}}
    </body>
</html>