.title {
	font-weight: 700;
}
.site-nav { 
	overflow: hidden;
	.nav {
		list-style-type: none;
		margin: 0 auto;
		[class*='nav-'] {
			a { 
				text-decoration: none;
				color: map-get($s5-map--color, dc-white);
			 }

			font-weight: 700;
			float: left;
			display: block;
			text-align: center;
			display: inline;
			padding: 5px 10px;
			text-decoration: none;
			text-transform: uppercase;
			border-radius: 2px;
		}

		.nav-sign-up {
			background-color: map-get($s5-map--color, dc-purple);
			a { color: map-get($s5-map--color, dc-black); }
		}
	}

	.icon {
		display: none;
	}
}


.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> * {
		display: inline;
		margin: 16px 0;
		padding: 0 30px;

	}
	.logo img {	
		max-width: 30px;
	}

}

@media screen and (max-width: 600px) {
		
	.site-nav{
		a:not(:first-child) {}
		.icon {
			float: right;
			display: block;
		}
	}

	.responsive { position: relative; }
	.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

}

footer.site-footer {
	background-color: map-get($s5-map--color, dc-purple);
}


.footer-content {
	margin: 0 15px;
	padding: 40px 15px;
	min-height: 20vh;
	color: map-get($s5-map--color, dc-black);

	a {
		text-decoration: none;
	}

	.footer-details, .footer-credits {
		a { color: map-get($s5-map--color, dc-white); font-weight: bold; }
	}

	.footer-credits {
		padding: 20px 0;
	}

	.footer-nav {
		text-transform: uppercase;
		a { color: map-get($s5-map--color, dc-black); }
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		@media screen and (min-width: 768px) {
			text-align: right;
		}
	}

	.footer-social {
		> * {
			display: inline;
			text-transform: uppercase;
		}
		> * > * {
			list-style-type: none;
		}
		a { color: map-get($s5-map--color, dc-black); }
	}
}