.title {
	font-weight: 700;
}

.nav-bar { 
	overflow: hidden;
	margin: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;


	.nav-sign-up {
		background-color: map-get($s5-map--color, dc-purple);
		a { color: map-get($s5-map--color, dc-black); }
	}

	.logo {		
		padding: 0 16px;
		img { max-width: 50px; }
	}

	.logo a { padding: 0; }

	.icon {
		display: none;
	}
}

.site-nav {
	a { 
		text-decoration: none;
		color: map-get($s5-map--color, dc-white);

		font-weight: 700;
		display: flex;
		align-content: space-between;
		text-align: center;
		padding: 14px 16px;
		text-transform: uppercase;
		border-radius: 2px;
	}
}

@media screen and (max-width: 600px) {
	.site-nav a { display: none; }

	.site-nav a.icon {
		display: block;
		text-align: right;
	}
	
	.site-nav.responsive { position: relative; }
	.site-nav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.site-nav.responsive a {
		float: none;
		display: block;
		text-align: right;
	}

	.logo {
		position: absolute;
		left: 0;
	}
}

footer.site-footer {
	background-color: map-get($s5-map--color, dc-purple);
}


.footer-content {
	margin: 0 15px;
	padding: 40px 15px;
	min-height: 20vh;
	color: map-get($s5-map--color, dc-black);

	a {
		text-decoration: none;
	}

	.footer-details, .footer-credits {
		a { color: map-get($s5-map--color, dc-white); font-weight: bold; }
	}

	.footer-credits {
		padding: 20px 0;
	}

	.footer-nav {
		text-transform: uppercase;
		a { color: map-get($s5-map--color, dc-black); }
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		@media screen and (min-width: 768px) {
			text-align: right;
		}
	}

	.footer-social {
		> * {
			display: inline;
			text-transform: uppercase;
		}
		> * > * {
			list-style-type: none;
		}
		a { color: map-get($s5-map--color, dc-black); }
	}
}