@font-face {
  font-family: "Gilmer-Outline";
  src: url("/assets/fonts/glimer-outline/gilmer-outline.eot");
  src: url("/assets/fonts/glimer-outline/gilmer-outline.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/glimer-outline/gilmer-outline.woff2") format("woff2"), url("/assets/fonts/glimer-outline/gilmer-outline.woff") format("woff"), url("/assets/fonts/glimer-outline/gilmer-outline.ttf") format("truetype"), url("/assets/fonts/glimer-outline/gilmer-outline.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilmer";
  src: url("/assets/fonts/glimer-light/gilmer-light.eot");
  src: url("/assets/fonts/glimer-light/gilmer-light.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/glimer-light/gilmer-light.woff2") format("woff2"), url("/assets/fonts/glimer-light/gilmer-light.woff") format("woff"), url("/assets/fonts/glimer-light/gilmer-light.ttf") format("truetype"), url("/assets/fonts/glimer-light/gilmer-light.svg#youworkforthem") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilmer";
  src: url("/assets/fonts/glimer-regular/gilmer-regular.eot");
  src: url("/assets/fonts/glimer-regular/gilmer-regular.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/glimer-regular/gilmer-regular.woff2") format("woff2"), url("/assets/fonts/glimer-regular/gilmer-regular.woff") format("woff"), url("/assets/fonts/glimer-regular/gilmer-regular.ttf") format("truetype"), url("/assets/fonts/glimer-regular/gilmer-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilmer";
  src: url("/assets/fonts/glimer-medium/gilmer-medium.eot");
  src: url("/assets/fonts/glimer-medium/gilmer-medium.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/glimer-medium/gilmer-medium.woff2") format("woff2"), url("/assets/fonts/glimer-medium/gilmer-medium.woff") format("woff"), url("/assets/fonts/glimer-medium/gilmer-medium.ttf") format("truetype"), url("/assets/fonts/glimer-medium/gilmer-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilmer";
  src: url("/assets/fonts/gilmer-bold/gilmer-bold.eot");
  src: url("/assets/fonts/gilmer-bold/gilmer-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gilmer-bold/gilmer-bold.woff2") format("woff2"), url("/assets/fonts/gilmer-bold/gilmer-bold.woff") format("woff"), url("/assets/fonts/gilmer-bold/gilmer-bold.ttf") format("truetype"), url("/assets/fonts/gilmer-bold/gilmer-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilmer";
  src: url("/assets/fonts/glimer-heavy/gilmer-heavy.eot");
  src: url("/assets/fonts/glimer-heavy/gilmer-heavy.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/glimer-heavy/gilmer-heavy.woff2") format("woff2"), url("/assets/fonts/glimer-heavy/gilmer-heavy.woff") format("woff"), url("/assets/fonts/glimer-heavy/gilmer-heavy.ttf") format("truetype"), url("/assets/fonts/glimer-heavy/gilmer-heavy.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[disabled],
[aria-disabled=true] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
}

[hidden] {
  display: none;
}

[aria-hidden=true] {
  visibility: hidden;
}

body {
  color: #2f2c30;
  margin: 0 auto;
}
body img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 900px;
  width: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #000000;
  color: #F4F4F4;
  font-family: "Gilmer", BlinkMacSystemFont, -apple-system, "Roboto", "Droid Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-size: 1.5rem;
  line-height: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.title {
  font-weight: 700;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}
.site-header #logo {
  margin: 10px;
  float: left;
  height: 40px;
  display: block;
}
.site-header #logo img {
  height: 100%;
}
.site-header .site-nav {
  float: right;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.site-header .site-nav #menu-icon {
  display: none;
  width: 40px;
  height: 40px;
}
.site-header .site-nav ul {
  list-style: none;
  margin: 10px 0;
}
.site-header .site-nav ul li {
  display: inline-block;
  float: left;
  padding: 10px;
}
.site-header .site-nav a {
  text-transform: uppercase;
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 700;
}
.site-header .site-nav .nav-sign-up {
  background-color: #9E00FF;
  border-radius: 3px;
}
@media screen and (max-width: 640px) {
  .site-header #menu-icon {
    display: inline-block;
  }
  .site-header .site-nav ul, .site-header nav:active ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: #000000;
    right: 20px;
    top: 60px;
    width: 50%;
  }
  .site-header .site-nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  .site-header nav:hover ul {
    display: block;
  }
}

footer.site-footer {
  background-color: #9E00FF;
}

.footer-content {
  margin: 0 15px;
  padding: 40px 15px;
  min-height: 20vh;
  color: #000000;
}
.footer-content a {
  text-decoration: none;
}
.footer-content .footer-details a, .footer-content .footer-credits a {
  color: #F4F4F4;
  font-weight: bold;
}
.footer-content .footer-credits {
  padding: 20px 0;
}
.footer-content .footer-nav {
  text-transform: uppercase;
}
.footer-content .footer-nav a {
  color: #000000;
}
.footer-content .footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footer-content .footer-nav {
    text-align: right;
  }
}
.footer-content .footer-social > * {
  display: inline;
  text-transform: uppercase;
}
.footer-content .footer-social > * > * {
  list-style-type: none;
}
.footer-content .footer-social a {
  color: #000000;
}

.post-title {
  margin: 10px 0;
  text-transform: uppercase;
}
.post-title a {
  color: #F4F4F4;
  text-decoration: none;
}

.home-template .main article, .tag-template .main article, .paged .main article {
  border: 1px solid #F4F4F4;
  border-radius: 2px;
}
.home-template .main > *, .tag-template .main > *, .paged .main > * {
  margin: 5px;
  padding: 20px;
}

.post-tags-all {
  justify-content: right;
  display: flex;
  align-items: center;
}
.post-tags-all > * {
  font-size: 0.5em;
  color: #000000;
  background-color: #FFD703;
  display: inline;
  text-transform: uppercase;
  padding: 5px;
  text-decoration: none;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  footer.post-footer {
    display: flex;
    justify-content: space-between;
  }
}

.authors-list {
  list-style-type: none;
  padding: 0;
}
.authors-list .authors-list-item {
  padding: 5px;
  display: flex;
  align-items: center;
}
.authors-list .authors-list-item > * {
  padding: 5px;
  display: inline;
}
.authors-list .authors-list-item a {
  text-decoration: none;
  color: #F4F4F4;
}

.post-details {
  display: flex;
  justify-content: space-between;
}
.post-details > * {
  display: inline;
  padding: 10px 0;
}

.author-image {
  height: auto;
  width: auto;
}
.author-image img {
  object-fit: cover;
  border-radius: 50%;
  max-width: 2em;
}

.pagination {
  border: none;
}
.pagination a {
  font-weight: 700;
  text-decoration: none;
  color: #9E00FF;
}

.post-template section h1, .post-template section h2, .post-template section h3, .post-template section h4, .post-template section h5, .post-template section h6 {
  font-weight: 700;
}
.post-template section a {
  color: #F4F4F4;
  font-weight: 700;
  word-break: break-word;
  box-shadow: inset 0 -1px 0 #9E00FF;
}
.post-template .post-header {
  margin: 0 0 1.5em;
}
.post-template .post-header .post-title {
  margin: 20px 0;
}
.post-template pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: 1px solid #000;
  color: #e5eff5;
  font-size: 1.4rem;
  line-height: 1.5em;
  background: #2b2b2b;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  .post-template article {
    padding: 0 4vw;
  }
}

/*# sourceMappingURL=spectre.css.map */
